@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Thin.otf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Thin Italic.otf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraLight Italic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Light Italic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Italic.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Medium Italic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Bold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Bold Italic.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraBold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraBold Italic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Black.otf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro Black Italic.otf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraBlack.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TT Norms Pro ExtraBlack Italic.otf');
  font-weight: 900;
  font-style: italic;
}